    .inline {color : blue;
    }
    
    .top-ref {float : right;
    }
       
    .dropdown {
        position: relative;
        background-color: inherit;
        color: blue;
        display: flex;
    }
    
    ul.dropdown ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ul.dropdown ul ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .dropbtn {
      border: none;
      border-radius: 10px;
      outline: none;
      color: blue;
      padding: 14px 16px;
      background-color: #f0f0f0;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
      transition: .15;
    }

    .dropdown ul{
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown1 ul{
      display: none;
    }
    
    .dropdown2 ul{
      display: none
    }
    
    .dropbtn:hover{
        background-color: grey;
        shadow: .15px .15px;
    }
    
    .dropdown li:hover{
        background-color: grey;
    }
    .dropbtn:hover .dropdown1{
        display: block;      
        position: absolute;
        padding: 0;
    }
    
    .dropdown2:hover .dropdown2{
      position: absolute;
      padding: 0;
      display: inline-block;
    }